* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px auto 20px;
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
}


#hero {
    background-image: url(images/center.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 400px;
    border-radius: 20px 20px 0 0;
    border-bottom: 6px outset #dfb4319f;
    color: #228B22;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-style: italic;
    text-align: center;
}

h1 {
    margin: 0;
    text-shadow: 2px 2px 4px #000;
    text-stroke: 2px #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

#welcome {
    font-size: 70px;
}

#city {
    font-size: 90px;
}

h2 {
    margin: 60px 0 20px 0;
    padding: 10px 20px 20px 20px;
    font-size: 30px;
    text-shadow: 2px 2px 1px #fff;
    background-color: rgba(245, 245, 220, 0.5);
    border-radius: 20px;
}

#background {
    background: linear-gradient(#f6f6f6, #8C9F4F);
    border-radius: 0 0 20px 20px;
}

#main {
    margin: 0 auto;
    padding: 30px 0;
}

h3 {
    text-align: center;
    font-size: 40px;
    margin: 10px 0 20px 0;
}

#activities {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.activ {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 25%;


}

.activ>div:hover {
    filter: drop-shadow(3px 3px 4px #666);
    background-color: #E7E9DE;
    border-radius: 20px;
}

h4 {
    margin: 20px;
    font-size: 24px;
    text-align: center;
}

.activ-img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    filter: drop-shadow(3px 3px 4px #666);
    margin-bottom: 10px;
}

p {
    margin: 10px;
    text-align: center;
}

.sticker {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #D8DAA0;
    border-bottom: 6px solid #B7A673;
    border-radius: 20px 20px 0 0;
    filter: drop-shadow(3px 3px 4px #666);
}

.sticker>h4 {
    margin-top: 0;
}

.guide {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -15px 10px -10px;
    justify-content: space-around
}

.guide>div>h3 {
    text-align: right;
}

#footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 5px;
}

.guide-img {
    border-radius: 20px;
    width: 60%;
    height: 100%;
    margin-right: -40px;
    box-shadow: 0px 0px 8px 4px #fff;
}

.more-activ {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.more-activ>div>img {
    border-radius: 10px;
    filter: drop-shadow(3px 3px 4px #666);
    width: 100px;
}

.more-activ>div>img:hover,
.more-activ>div>img:active {
    transform: scale(5);
    position: relative;
    right: 400px;
    bottom: 300px;
    background-color: #E7E9DE;
    padding: 1px;
}

.more-cat {
    display: flex;
    align-items: center;
    margin: 5px;
}

.more-cat>p {
    text-align: left;
    cursor: pointer;
    margin-left: 40px;
}

.more-cat:hover {
    filter: drop-shadow(3px 3px 4px #666);
    background-color: #E7E9DE;
    border-radius: 10px;

}

button {
    text-align: center;
    margin-top: 40px;
    color: white;
    background-color: #228B22;
    text-wrap: nowrap;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 4px #fff;
}

button:hover {
    cursor: pointer;
}
